In [16]:
import pandas as pd
import re

In [27]:
df = pd.read_csv('../data_clean.csv')
df['description'][0]

'As the data driven mindset is more and more embedded within ING, there is more need for strong quants to ‘do their thing’ and provide our teams with the right insights and predictions. Will you be our new colleague? The organization Within Business Banking & Lending we conduct operational and call work in the domains of mortgages, lending, and corporate services. Yearly, this regards hundreds of thousands client applications. We thrive for an excellent service for our customers within a perfectly streamlined operational organization. A happy customer is our highest priority! BB&L consist of 4 Super Circles (SC), in which similar and related customer activities are bundled.  SC Business Clients  SC Business Lending  SC Mortgages Origination  SC Mortgages In Life Management & Consumer Loans The SC’s are supported by the Intelligent Operations team, targeting the design and implementation of more advanced data driven operational methods. Via this vacancy we are looking for a... Junior Data Scientist for the Intelligent Operations team, in the roll of a Data Scientist II. The opportunity As a Data Scientist within the Intelligent Operations team, you will be co-responsible for strengthening the data driven way of working within SC BB&L. For all the SC’s you will develop strong knowledge on the day-to-day processes and built models and conduct data-analysis. Within your role, you are the driver to build models that support the SC’s. For example, build a model to analyze the impact of our mortgage interest rates on our market share and workload, or determine the impact of the recession on risk management. Additionally, as a Data Scientist you will be able to coach the colleagues in forecast modelling and operational research. You can set priorities between different case studies, create visualizations as support of your analysis and translate the data to qualitative colleagues. You can challenge the current way-of-working and find the connection to make a real impact. Roles and Responsibilities  Design and develop quantitative methodologies for forecasting and operational processes  Implementing optimization programming for both periodical projects and day-to-day operations  Support the development and implementation of sustainable and maintainable data solutions  Identify functional and non-functional requirements from stakeholders focused on delivering high quality data and modelling solutions for the operation  You take it on and make it happen! You decide based on facts, data driven analysis and the results they provide. How to succeed We hire smart people like you for your potential. Our biggest expectation is that you’ll stay curious. Keep learning. Take on responsibility. In return, we’ll back you to develop into an even more awesome version of yourself. We are looking for a pro-active and collaborative colleague who is a true team player and strong in modelling. You have:  A quantitative masters, e.g. Econometrics, Mathematics, Physics etc.  1-3 years of experience with forecast modelling, operational research and data frameworks, if you just graduated feel free to apply as well!  Broad practical experience with modelling tools and techniques on data preparation and analysis (SAS, Python, SQL etc.)  You pro-actively search for improvements and implement them where possible  Strong analytical skills and numerical insight, result-oriented and with an eye for improvement potential  You are Strongly skilled in English and Dutch at least being able to read and understand. Rewards & benefits: We want to make sure that it’s possible for you to strike the right balance between your career and your private life. You can find out more about our employment conditions at https://www.ing.jobs/netherlands/Why-ING/benefits.htm The benefits of working with us at ING include:  A salary tailored to your qualities and experience  24-27 vacation days depending on contract  Pension scheme  13th month salary  Individual Savings Contribution (BIS), 3.5% of your gross annual salary  8% Holiday payment  Personal growth and challenging work with endless possibilities  An informal working environment with innovative colleagues  Work Agile, so new ideas come to life faster Questions? Contact Fábián Nagy in our Tech recruitment team, fabian.nagy@ing.com for more information about this role. Want to apply directly? Please upload your CV and motivation letter by clicking the “Apply” button. About us With 57,000 employees and operations in approximately 40 countries, there is no shortage of opportunities for people with initiative who want to help people take a step ahead in life and in business. Do you want to work at the cutting edge of what’s possible and at the same time ensure you work with integrity and hold the customer’s interests at heart? Do you want to be surrounded by progressive, inspiring, diverse and supportive colleagues? Then there is no better place to invest your talents than at ING. Join us. Apply today'

In [30]:
country_mapping = {
    'UK': 'GBR',
    'United Kingdom': 'GBR',
    'France': 'FRA',
    'Italy': 'ITA',
    'Spain': 'ESP',
    'Belgium': 'BEL',
    'Netherlands': 'NDL',
    'Nederland': 'NDL',
    'Dutch': 'NDL',
    'Dubai': 'UAE',
    'UAE': 'UAE',
    'Germany': 'DEU',
    'Deutschland': 'DEU',
    'Denmark': 'DNK',
    'Austria': 'AUT',
    'Czech': 'CZE',
    'default': 'Not available'
}

country_names = ['UK', 'United Kingdom', 'France', 'Italy', 'Spain', 
                 'Belgium', 'Netherlands', 'Nederland', 'Dutch', 'Dubai', 'UAE',
                'Germany', 'Deutschland', 'Denmark', 'Austria', 'Czech']


def identify_countries(df: pd.DataFrame):
    regex_pattern = '|'.join([f'{key_word}' for key_word in country_names])  # Create regex pattern
    search_space = df['title'] + df['description'] + df['job_highlights']
    countries = search_space.map(lambda x: country_mapping['default'] if len(re.findall(regex_pattern, x)) == 0
                                else country_mapping[re.findall(regex_pattern, x)[0]])
    df['country'] = countries
    return df


df = identify_countries(df)
df.head(10)

,Unnamed: 0,title,company_name,location,via,description,job_highlights,detected_extensions,job_id,salary,...,Teamwork,Time_series_analysis,Unsupervised_learning,UX_design,Visualization,Web_development,XML,YAML,YARN,country
0,0,Junior Data Scientist,ING,Amsterdam,ING Careers,As the data driven mindset is more and more em...,As the data driven mindset is more and more em...,"{'posted_at': '6 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJKdW5pb3IgRGF0YSBTY2llbnRpc3...,Not available,...,0,0,0,0,1,0,0,0,0,NDL
1,1,"JUNIOR DATA SCIENTIST - Dubai, UAE",Cobblestone Energy,Utrecht,LinkedIn,"Location: Dubai, UAE (We provide visa sponsors...","Location: Dubai, UAE (We provide visa sponsors...","{'posted_at': '4 hours ago', 'schedule_type': ...",eyJqb2JfdGl0bGUiOiJKVU5JT1IgREFUQSBTQ0lFTlRJU1...,60000,...,0,0,0,0,1,0,0,0,0,UAE
2,2,Data Scientist Mobiliteit,TNO,The Hague,TNO,Halen we in Nederland de klimaatdoelen op het ...,Halen we in Nederland de klimaatdoelen op het ...,"{'posted_at': '5 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVudGlzdCBNb2JpbG...,Not available,...,0,0,0,0,0,0,0,0,0,NDL
3,3,Data Scientist Real Estate for Catella Investm...,Catella Investment Management Benelux,Maastricht,Limburgvac,As a Data Scientist in the Research & Investme...,As a Data Scientist in the Research & Investme...,"{'posted_at': '20 hours ago', 'schedule_type':...",eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVudGlzdCBSZWFsIE...,Not available,...,0,0,0,0,0,0,0,0,0,Not available
4,4,Data Scientist,Effectory,Amsterdam,Effectory Jobs,Improving the working lives of millions of peo...,Improving the working lives of millions of peo...,{'schedule_type': 'Full–time'},eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVudGlzdCIsImh0aW...,68750.0,...,0,0,0,0,1,0,0,0,0,NDL
5,5,Data Scientist,Adyen,Amsterdam,Nationale Vacaturebank,Functieomschrijving Data Analytics Amsterdam T...,FunctieomschrijvingData Analytics AmsterdamThi...,"{'posted_at': '17 hours ago', 'schedule_type':...",eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVudGlzdCIsImh0aW...,Not available,...,0,0,0,0,0,0,0,0,0,NDL
6,6,Data Scientist bij Transavia,Transavia,Schiphol,Vacatures - Transa,Wij zoeken jou als Data Scientist Voor ons Str...,Wij zoeken jou als Data ScientistVoor ons Stra...,{'schedule_type': 'Full–time'},eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVudGlzdCBiaWogVH...,Not available,...,0,0,0,0,1,0,0,0,0,NDL
7,7,Data Science Lead - Amsterdam,Bynder,Amsterdam,Careers At Bynder,Bynder goes far beyond managing digital assets...,Bynder goes far beyond managing digital assets...,"{'posted_at': '2 days ago', 'schedule_type': '...",eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVuY2UgTGVhZCAtIE...,Not available,...,0,0,0,0,1,0,0,0,0,NDL
8,8,"LEAD DATA SCIENTIST - Dubai, UAE",Cobblestone Energy,Rotterdam,LinkedIn,Employment type: Full-time & Permanent Reports...,Employment type: Full-time & PermanentReports ...,"{'posted_at': '1 day ago', 'schedule_type': 'F...",eyJqb2JfdGl0bGUiOiJMRUFEIERBVEEgU0NJRU5USVNUIC...,150000,...,0,0,0,0,1,0,0,0,0,UAE
9,9,Data Science and Artificial Intelligence Fello...,Wageningen University & Research,Wageningen,AcademicTransfer,Are you a computer scientist with a PhD degree...,Are you a computer scientist with a PhD degree...,{'posted_at': '2 days ago'},eyJqb2JfdGl0bGUiOiJEYXRhIFNjaWVuY2UgYW5kIEFydG...,Not available,...,0,0,0,0,0,0,0,0,0,Not available